body{
    overflow-x: hidden;
    background:#1A1D29;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    font-family: Avenir-Roman,sans-serif;
    width: 100%;
    margin: 0%;
}

.entero{
    width: 95%;
    margin:70px auto;
}

.entero .carrusel-inicio{
    display: flex;
    align-items: center;
    position: relative;
}

.entero .carrusel-inicio .flecha-derecha, 
.entero .carrusel-inicio .flecha-izq{
    position: absolute;
    border: none;
    color: rgba(255, 255, 255, 0.671);
    font-size: 30px;
    height: 40%;
    top: calc(50%-25%);
    line-height: 30px;
    width: 20px;
    cursor: pointer;
    z-index: 500;
    transition: .2s ease all;
}

.entero .carrusel-inicio .flecha-derecha{
    left: 0;
    padding-left: 10px;
    padding-top: 15px;
}

.entero .carrusel-inicio .flecha-izq{
    right: 0;
    padding-right: 10px;
    padding-top: 15px;
}

.entero .carrusel-inicio .flecha-derecha:hover, 
.entero .carrusel-inicio .flecha-izq:hover{
    color: white;
    font-size: 32px;
    
}

.entero .carrusel-inicio .caruseldef{
    width: 100%;
    padding: 10px 0;
    overflow: hidden;
    scroll-behavior: smooth;
}

.entero .carrusel-inicio .caruseldef .carrusel{
    display: flex;
    flex-wrap: nowrap;
}

.entero .carrusel-inicio .caruseldef .carrusel .peliserie{
    min-width:20%;
    transition: .2s ease all;
    padding: 10px;
}

.entero .carrusel-inicio .caruseldef .carrusel .peliserie img{
    width: 100%;
    vertical-align: top;
    box-shadow:1px 8px 8px rgb(0 0 0 / 84%);
}

.entero .carrusel-inicio .caruseldef .carrusel .peliserie:hover{
    padding: 0px;
    border: solid 3px white;
}

nav div{
    margin: 10px;
    color: white;
    font-size: 12px;
    font-weight: bold;
}


nav div i{
    margin-left: 10px;
    margin-right: 6px;
}

.selector{
    line-height:22px;
    vertical-align:middle;
    position:relative;
    border-radius: 50%;
    width: 50px;
    height: 50px;
        
  }