body{
    overflow-x: hidden;
    background:#1A1D29;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    font-family: Avenir-Roman,sans-serif;
    width: 100%;
    margin: 0%;
}

.entero{
    width: 95%;
    margin:0 auto;
}

.entero .carrusel-inicio{
    display: flex;
    align-items: center;
    position: relative;
}

.entero .carrusel-inicio .flecha-derecha, 
.entero .carrusel-inicio .flecha-izq{
    position: absolute;
    border: none;
    color: rgba(255, 255, 255, 0.671);
    font-size: 30px;
    height: 40%;
    top: calc(50%-25%);
    line-height: 30px;
    width: 20px;
    cursor: pointer;
    z-index: 500;
    transition: .2s ease all;
}

.entero .carrusel-inicio .flecha-derecha{
    left: 0;
    padding-left: 10px;
    padding-top: 15px;
}

.entero .carrusel-inicio .flecha-izq{
    right: 0;
    padding-right: 10px;
    padding-top: 15px;
    
}

.entero .carrusel-inicio .flecha-derecha:hover, 
.entero .carrusel-inicio .flecha-izq:hover{
    color: white;
    font-size: 32px;
    
}

.entero .carrusel-inicio .caruseldef{
    width: 100%;
    padding: 10px 0;
    overflow: hidden;
    scroll-behavior: smooth;
}

.entero .carrusel-inicio .caruseldef .carrusel{
    display: flex;
    flex-wrap: nowrap;
}

.entero .carrusel-inicio .caruseldef .carrusel .peliserie{
    min-width:20%;
    transition: .2s ease all;
    padding: 10px;
}

.entero .carrusel-inicio .caruseldef .carrusel .peliserie img{
    width: 100%;
    vertical-align: top;
    box-shadow:1px 8px 8px rgb(0 0 0 / 84%);
}

.entero .carrusel-inicio .caruseldef .carrusel .peliserie:hover{
    padding: 0px;
    border: solid 3px white;
}

nav div{
    margin: 10px;
    color: white;
    font-size: 12px;
    font-weight: bold;
}


nav div i{
    margin-left: 10px;
    margin-right: 6px;
}

.selector{
    line-height:22px;
    vertical-align:middle;
    position:relative;
    border-radius: 50%;
    width: 50px;
    height: 50px;
        
  }

  /*estilos a categoria*/
.textsobre{
    margin-top: 5px;
    margin-bottom: 0%;
    margin-left: 45px;
    color: white;

}

.imagen{
    width: 100%;
    margin-top: 15px;
    box-shadow:1px 8px 8px rgb(0 0 0 / 84%);
}

.col-9 .col-12{
    margin-bottom: 30px;
}

#yyy .col-2{
    margin-bottom: 10px;
}

.ghj{
    background-color: #202227a6;
    box-shadow:1px 8px 8px rgb(0 0 0 / 84%);
}

.jkl{
    background-color: #3f4552bd;
    color: white;
}

.met{
   color: rgb(190, 190, 190); 
}

/*estilos a los foviritos, pendientes y vistos*/
.rrr{
    font-size: 30px;
    margin:10px 5px 10px 5px 10px;
}

.ver{
    width: 160px;
    font-size: 18px;
    font-weight: bold;
    color: wheat;
    background-color: teal;
    border-radius: 15px;
    border: solid 4px black;
    box-shadow:1px 8px 8px rgb(0 0 0 / 84%);
    transition: 0.3s;
}

.ver:hover{
    background-color: rgb(20, 155, 155);
}

#rambo:hover{
    font-size: 32;
    color: rgb(214, 212, 212);
}

#rango:hover {
    font-size: 32;
    color: rgb(214, 212, 212);
}

.tet{
    margin:5px;
    border-radius: 9px;
    text-align: center;
    align-items: center;
    color:rgb(255, 255, 255);
    font-weight: bold;
    background-color: rgba(87, 57, 57, 0.527);
    border: black solid 3px;
    cursor: pointer;
    transition: 0.3s;
}

.tet:hover{
    border-radius: 5px;
    background-color: rgba(87, 57, 57, 0.74);
    border: black solid 4px;
}

.tat{
    
    border-radius: 5px;
    text-align: center;
    align-items: center;
    color:rgb(255, 255, 255);
    font-weight: bold;
    background-color: rgba(84, 97, 119, 0.719);
    border: black solid 3px;
    cursor: pointer;
    transition: 0.3s;
}

.tat:hover{
    border-radius: 5px;
    background-color: rgba(87, 57, 57, 0.945);
    border: rgb(255, 255, 255) solid 4px;
}

/*inicio para la empresa*/

.imagenm{
    border-radius: 1%;
    width: 100%;
}

.killua{
    font-size: 20px;
    color: white;
    text-align: center;
}

.contenedor{
    border:rgb(0, 0, 0) solid 4px;
    padding: 3px;
    background-color: rgb(23, 49, 49);
    box-shadow:1px 8px 8px rgb(0 0 0 / 84%);
    border-radius: 5px;
    height: 100%;
    transition: .1s all ease;
    cursor: pointer;
    font-family: 'Courgette', cursive;
}

.contenedor:hover{
    border: rgb(49, 0, 0) solid 4px;
    background-color:  rgb(58, 95, 95);
}

.panda{
    color: white;
    font-family: 'Patua One', cursive;
}

.tur{
    margin-top: 10px;
}

hr{
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: white;
}

.imgemp{
    font-size: 22px;
    color: white;
    font-weight: bold;
    font-family: 'Righteous', cursive;
}

input{
    padding: 3px 2px 2px 7px;
    margin: 3px;
    width: 100%;
    border-radius: 15px;
    border: solid 3px gray;
    background-color: #1A1D29;
    color: white;
    font-weight: bold;
}

select{
    width: 100%;
    border: 2px black solid;
    background-color: #1A1D29;
    color: white;
    border-radius: 10px;
}

.espan{
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-align:center;
    width: 100%;
}

.modal-content{
    background-color: #2e3242;
    border-radius: 10px;
    border:solid 15px black;
    box-shadow:1px 8px 8px rgb(0 0 0 / 84%);
    padding: 10px;
}

.pad{
    display: flex;
    align-items: center;
}

nav div:hover{
    color: rgb(235, 162, 162);
    font-weight: bold;
    cursor: pointer;
}

#ABC{
    transition: .5s all ease;
    
}

.polll{
    color: white;
    background-color: rgb(36, 48, 48);
    border: solid white 4px;
    margin-top: 5px;
    width: 50%;
    
}

.polll:hover{
    background-color: rgb(17, 161, 161);
}